<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'log_and_reg_app/css/style.css'%}">
    <title>Document</title>
</head>
<body class="container-fluid">
    <div class="container">
            {% if messages %}
                {% for message in messages %}
                <p class="green">{{ message }}</p>
                {% endfor %}
            {% endif %}
        <div class="col">
            <h2>Success! Welcome, {{user.first_name}} {{user.last_name}}!</h2>
            <a href="/log_out">Log Out</a>
        </div>
    </div>
</body>
</html>